// #cerise-logo {
//     visibility: hidden;
// }

#cherisename {
    visibility: hidden;
}

#icecreamname {
    visibility: hidden;
}

#mouthopen {
    visibility: hidden;
}

#wink {
    visibility: hidden;
}

// #body {
//     visibility: hidden;
// }
